<%= form_with model: @task do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :detail %>
        <%= form.textarea :detail %>
    </div>
    <%= form.submit %>
<% end %>