<section>
    <div class="site-container">
        <h1>Task Index</h1>
        <%= render 'search' %>
        <% if @tasks.present? %>
            <div class="card-container">
                <% @tasks.each do |task| %>
                    <div class="card">
                        <%= link_to task_path(task), class: 'task-title' do %>
                            <% if task.title %>
                                <h2><%= task.title %></h2>
                            <% end %>
                        <% end %>
                        <div class="action-wrapper">
                            <%= render 'actions', task: task %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p class="error">No tasks found.</p>
        <% end %>
        <%= link_to 'Add', new_task_path %>
    </div>
</section>