<section>
    <div class="site-container">
        <h1>Task Index</h1>
        <%= render 'search' %>
        <% if @tasks.present? %>
            <div class="card-container">
                <% @tasks.each do |task| %>
                    <div class="card">
                        <% if task.title %>
                            <h2><%= task.title %></h2>
                        <% end %>
                        <div class="actions">
                            <%= link_to 'View', task_path(task) %>
                            <%= link_to 'Edit', edit_task_path(task) %>
                            <%= button_to 'Delete', task_path(task), method: :delete %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p class="error">No tasks found.</p>
        <% end %>
        <%= link_to 'Add', new_task_path %>
    </div>
</section>