<section>
    <div class="site-container">
        <h1>Tasks</h1>
        <%= render 'search' %>
        <% if @tasks.present? %>
            <div class="task-container">
                <% @tasks.each do |task| %>
                    <div class="task">
                        <% if task.title %>
                            <%= link_to task_path(task), class: 'task-title' do%>
                                <h2><%= task.title %></h2>
                            <% end %>
                        <% end %>
                        <%= render 'actions', task: task %>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p class="error">No tasks found.</p>
        <% end %>
        <%= link_to 'Add', new_task_path %>
    </div>
</section>